---
layout: default
title:  Resume
description: "Shape your life, shape yourself."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Chinese Version -->
<div class="container">

<h1>Yinqiong Cai</h1>
<p> I am a Ph.D. student in Computer Science at <a href="http://www.ict.ac.cn/" style="color:blue;">Institute of Computing Technology, Chinese Academy of Sciences</a>. Here, I’m luckily enough to be advised by <a href="http://www.bigdatalab.ac.cn/~gjf/">Prof. Jiafeng Guo</a> and Yixing Fan. I am a member of CAS Key Lab of Web Data Science and Technology. My research interests lie in Information Retrieval, with a special focus on the first-stage semantic retrieval.</p>
<p> Prior to this, I earned my Bachelor’s degree at <a href="https://ssdut.dlut.edu.cn/">School of Software Technology, Dalian University of Technology</a>, advised by <a href="http://thealphalab.org/xjkong/">Assoc Prof. Xiangjie Kong</a>. My research interests include big data, mobile computing, and computational social science.   

<section>
    <hr>    
    <h2>Education</h2>

<p> B.S. in Network Engineering, 2014-2018, Dalian University of Technology </p>
<p> Ph.D. in Computer Science, 2018-Current, Institute of Computing Technology, Chinese Academy of Sciences </p>
</section>

<section>
    <hr> 
    <h2>Projects</h2>
<p> MatchZoo  </p>
<p>  BDCI  </p>
</section>

<section>
    <hr>
    <h2>Publications</h2>
</section>


</div>

