---
layout: default
title:  Resume
description: "Shape your life, shape yourself."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Chinese Version -->
<div class="container">

    <!--copied from markdown -->

    <p>Hey，我是<strong>蔡银琼(Chaya)</strong>。</p>
    
    <h5>关于我。。。</h5>

</div>

