---
layout: default
title:  Resume
description: "Shape your life, shape yourself."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Chinese Version -->
<div class="container">

<h1>Yinqiong Cai</h1>
    I am a Ph.D. student in Computer Science at Institute of Computing Technology, Chinese Academy of Sciences, working with Prof. Jiafeng Guo. I am a member of CAS Key Lab of Web Data Science and Technology. My research interests lie in the general area of Information Retrieval, with a special focus on semantic models for the first-stage retrieval.
<section>
    <hr>    
    <h2>EDUCATION</h2>

<p> 2014.09 - 2018.07    大连理工大学      学士学位  </p>
<p> 2018.09 - Current     中国科学院大学（计算技术研究所）  硕士在读 </p>
</section>

<section>
    <hr> 
    <h2>PROJECTS</h2>
<p> MatchZoo  </p>
<p>  BDCI  </p>
</section>

<section>
    <hr>
    <h2>PUBLICATIONS</h2>
</section>


</div>

